<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="../../static/css/bootstrap.css" rel="stylesheet">

	<link href="../../static/css/ionicons.css" rel="stylesheet">

	<link href="../../static/css/layerslider.css" rel="stylesheet">


	<link href="../../static/css/01-homepage/css/styles.css" rel="stylesheet">

	<link href="../../static/css/01-homepage/css/responsive.css" rel="stylesheet">

</head>
<body>

	{% include 'blocks/nav-bar.html' %}


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="../../static/images/slider-1-1600x800.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">TRAVEL</a>
						<h3 class="title"><b>Travel, Love, Live</b></h3>
						<h6>29 October, 2017</h6>
					</div>

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="../../static/images/slider-2-1600x800.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">TRAVEL</a>
						<h3 class="title"><b>Travel, Love, Live</b></h3>
						<h6>29 October, 2017</h6>
					</div>

			</div><!-- ls-slide -->

		</div><!-- slider -->
	</div><!-- main-slider -->


	<section class="section blog-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-md-12">
					<div class="blog-posts">
						
						{% for post in posts|slice:":2" %}
						<div class="single-post">
							<div class="image-wrapper"><img src="{{ post.image }}"  alt="Blog Image"></div>

							<div class="icons">
								<div class="left-area">
									<a class="btn caegory-btn" href="#"><b>{{ post.category }}</b></a>
								</div>
								<ul class="right-area social-icons">
									<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
									<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
									<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
								</ul>
							</div>
							<p class="date"><em>{{ post.date_created }}</em></p>
							<h3 class="title"><a href="#"><b class="light-color">{{ post.title }}</b></a></h3>
							<p>{{ post.description }}</p>
							<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
						</div><!-- single-post -->
						{% endfor %}

						<div class="row">

							{% for post in posts|slice:"2:" %}
							<div class="single-post">
								<div class="image-wrapper"><img src="../../static/images/blog-3-500x400.jpg"  alt="Blog Image"></div>

								<div class="icons">
									<div class="left-area">
										<a class="btn caegory-btn" href="#"><b>{{ post.category }}</b></a>
									</div>
									<ul class="right-area social-icons">
										<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
										<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
										<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
									</ul>
								</div>
								<p class="date"><em>{{ post.date_created }}</em></p>
								<h3 class="title"><a href="#"><b class="light-color">{{ post.title }}</b></a></h3>
								<p>{{ post.description }}</p>
								<a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
							</div><!-- single-post -->
							{% endfor %}

						</div><!-- row -->

						<a class="btn load-more-btn" target="_blank" href="#">LOAD OLDER POSTS</a>

					</div><!-- blog-posts -->
				</div><!-- col-lg-4 -->


				<!-- SIDEBAR HERE -->
				{% include 'blocks/sidebar.html' %}
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->


	{% include 'blocks/footer.html' %}


	<!-- SCIPTS -->

	<script src="../../static/js/jquery-3.1.1.min.js"></script>

	<script src="../../static/js/tether.min.js"></script>

	<script src="../../static/js/bootstrap.js"></script>

	<script src="../../static/js/layerslider.js"></script>

	<script src="../../static/js/scripts.js"></script>

</body>
</html>
