<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="../../static/css/bootstrap.css" rel="stylesheet">

	<link href="../../static/css/ionicons.css" rel="stylesheet">


	<link href="../../static/css03-About-me/css/styles.css" rel="stylesheet">

	<link href="../../static/css03-About-me/css/responsive.css" rel="stylesheet">

</head>
<body>



	<section class="blog-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-md-12">
					<div class="blog-posts">

						<div class="single-post">
							<div class="image-wrapper"><img src="images/blog-2-1000x600.jpg" alt="Blog Image"></div>

							<div class="icons">
								<div class="left-area">
									<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
								</div>
								<ul class="right-area social-icons">
									<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
									<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
									<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
								</ul>
							</div>
							<p class="date"><em>Monday, October 13, 2017</em></p>
							<h3 class="title"><a href="#"><b class="light-color">This is post about travel, adventure and fun</b></a></h3>
							<p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								dolore magnam aliquam quaerat voluptatem.</p>

							<p class="desc">Eerror sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								dolore magnam aliquam quaerat voluptatem.</p>

							<h5 class="quoto"><em><i class="ion-quote"></i>Eerror sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit
							</em></h5>

							<div class="row">
								<div class="col-sm-6">
									<div class="image-wrapper"><img src="images/blog-9-600x600.jpg" alt="Blog Image"></div>
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<div class="image-wrapper"><img src="images/blog-10-600x600.jpg" alt="Blog Image"></div>
								</div><!-- col-sm-6 -->
							</div><!-- row -->


							<p class="desc">Eerror sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								 consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								dolore magnam aliquam quaerat voluptatem.</p>

							<div class="circular-pregress center-text">
								<div class="row">

									<div class="col-sm-4">
										<div class="circliful" data-animation="1" data-animationStep="5" data-percent="75" data-foregroundBorderWidth="3"
											data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
											data-fontColor="#222"></div>
										<h4><b class="light-color">Awsome</b></h4>
										<h6 class="pre-writing">Etium nec odio</h6>
									</div><!-- col-sm-4 -->

									<div class="col-sm-4">
										<div class="circliful" data-animation="1" data-animationStep="5" data-percent="83" data-foregroundBorderWidth="3"
											data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
											data-fontColor="#222"></div>
										<h4><b class="light-color">Creative</b></h4>
										<h6 class="pre-writing">Odio vestibum</h6>
									</div><!-- col-sm-4 -->

									<div class="col-sm-4">
										<div class="circliful" data-animation="1" data-animationStep="5" data-percent="97" data-foregroundBorderWidth="3"
											data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
											data-fontColor="#222"></div>
										<h4><b class="light-color">Oustsanding</b></h4>
										<h6 class="pre-writing">Etium nec odio</h6>
									</div><!-- col-sm-4 -->

								</div><!-- row -->
							</div><!-- circular-pregress -->


							<p class="desc">Eerror sit voluptatem accusantium doloremque
								 laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								 architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								dolore magnam aliquam quaerat voluptatem.</p>


							<div class="embed-video" data-source="youtube"
								data-video-url="https://www.youtube.com/watch?v=C-Q7GeQG6iE"></div>

						</div><!-- single-post -->

						<div class="recomend-area">
							<h4 class="title"><b class="light-color">My recommendation</b></h4>
							<div class="row">
								<div class="col-md-6">

									<div class="recomend">
										<div class="post-image"><img src="images/recomended-1-200x200.jpg" alt="Post Image"></div>

										<div class="post-info">
											<a class="btn category-btn" href="#">TRAVEL</a>
											<h5 class="title"><a href="#"><b class="light-color">One more night in</b></a></h5>
											<h6 class="date"><em>Monday, October 13, 2017</em></h6>
											<p>Sed ut unde omnis iste natus error sit.</p>
										</div><!-- post-info -->
									</div><!-- recomend -->

								</div><!-- col-md-6 -->

								<div class="col-md-6">

									<div class="recomend">
										<div class="post-image"><img src="images/recomended-2-200x200.jpg" alt="Post Image"></div>

										<div class="post-info">
											<a class="btn category-btn" href="#">TRAVEL</a>
											<h5 class="title"><a href="#"><b class="light-color">One more night in</b></a></h5>
											<h6 class="date"><em>Monday, October 13, 2017</em></h6>
											<p>Sed ut unde omnis iste natus error sit.</p>
										</div><!-- post-info -->
									</div><!-- recomend -->

								</div><!-- col-md-6 -->

							</div><!-- row -->
						</div><!-- recomend-area -->


					</div><!-- blog-posts -->
				</div><!-- col-lg-4 -->

				<!-- SIDEBAR HERE -->

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->


	<section class="footer-instagram-area">

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="title"><b class="light-color">Follow me &copy; instagram</b></h5>
				</div><!-- col-lg-4 -->
			</div><!-- row -->
		</div><!-- container -->

		<ul class="instagram">
			<li><a href="#"><img src="images/instragram-1-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-2-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-3-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-4-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-5-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-6-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-7-300x400.jpg" alt="Instagram Image"></a></li>
		</ul>
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="../../static/js/jquery-3.1.1.min.js"></script>

	<script src="../../static/js/tether.min.js"></script>

	<script src="../../static/js/bootstrap.js"></script>

	<script src="../../static/js/grasp_mobile_progress_circle-1.0.0.js"></script>

	<script src="../../static/js/embed.videos.min.js"></script>

	<script src="../../static/js/jquery.circliful.min.js"></script>

	<script src="../../static/js/scripts.js"></script>

</body>
</html>
